

/**Contenedor*/
.contenedor{
    width: 80%;
    margin: 0 auto;
}

/**Colores y sombras*/
.bx-shadow{
    -webkit-box-shadow: 2px 2px 10px 1px rgba(0,0,0,.5);
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,.5);
}
.bg-gris-uno{   
    background-color: #E3E3E3;
    z-index: 1;
} 

section, footer{
    width: 100%;
}

ul{
    list-style: none;
}

button{
    background-color: rgb(133, 0, 0);
    color: white;
    font-weight: 700;
    padding: 10px 10px;
    cursor: pointer;
    outline: none;
    border: none;
    text-transform: uppercase;
}



/************* HEADER */


.bg-header{
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex; 
    align-items: center;
    
}

header{    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 0%;
}

header .logo-img{
    margin-right: auto;
}
header a img{
    height: 60px;
}


.nav-header ul li{
    float: left;
    padding: 0 10px;
}


/***********BANNER PRINCIPAL*/

.banner-principal{
    padding-top: 100px;
}

.banner-principal .contenedor {
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner-principal .contenedor .video-banner{
    
    width: 90%;
    min-height: 10px;
    
}

.banner-principal video{
    width: 100%;
}

/********************BANNER OTROS SITIOS*/

.banner-otros-sitios{
    padding-top: 90px;
    height: 350px;
}

/********************BANNER DISCOGRAFIA*/

.banner-discografia{ 
    background: url(../images/rammstein-in-studio.jpg)  fixed no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-discografia h1{
    color: #fff;
    font-size: 70px;
    text-shadow: 2px 2px 5px #000;
}

/*************SECTION DISCOS***/

.discos .contenedor{
    display: grid;
    gap: 1em;
    grid-auto-rows: 200px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}


.disco-caratula img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/*****FONDOS CAJA DISCOS DISCOGRAFIA*/
.herzeleid-caja{
    background: url(../images/fondos-discos/fondo-herzeleid.jpg) no-repeat center;
    background-size: cover;
}

.herzeleid-caja .degradado-color-disco{
    background: rgb(88,69,16);
    background: -moz-linear-gradient(171deg, rgba(88,69,16,0.43) 0%, rgba(88,75,16,0.7399334733893557) 54%, rgba(29,23,5,0.9332107843137255) 80%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(171deg, rgba(88,69,16,0.43) 0%, rgba(88,75,16,0.7399334733893557) 54%, rgba(29,23,5,0.9332107843137255) 80%, rgba(0,0,0,1) 100%);
    background: linear-gradient(171deg, rgba(88,69,16,0.43) 0%, rgba(88,75,16,0.7399334733893557) 54%, rgba(29,23,5,0.9332107843137255) 80%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#584510",endColorstr="#000000",GradientType=1);
}

.sehnsucht-caja{
    background: url(../images/fondos-discos/fondo-sehnsucht.png) no-repeat center;
    background-size: cover;
}

.sehnsucht-caja .degradado-color-disco{
    background: rgb(13,4,58);
background: -moz-linear-gradient(180deg, rgba(13,4,58,0.7903536414565826) 0%, rgba(0,0,0,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(13,4,58,0.7903536414565826) 0%, rgba(0,0,0,1) 100%);
background: linear-gradient(180deg, rgba(13,4,58,0.7903536414565826) 0%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d043a",endColorstr="#000000",GradientType=1);
}


.live-aus-berlin-caja{
    background: url(../images/fondos-discos/fondo-live-aus-berlin.jpg) no-repeat center;
    background-size: cover;
}
.live-aus-berlin-caja .degradado-color-disco{background: rgb(58,4,4);
    background: -moz-linear-gradient(180deg, rgba(58,4,4,0.7147233893557423) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(58,4,4,0.7147233893557423) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(180deg, rgba(58,4,4,0.7147233893557423) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3a0404",endColorstr="#000000",GradientType=1);
}

.mutter-caja{
    background: url(../images/fondos-discos/fondo-mutter.jpg) no-repeat center;
    background-size: cover;
}
.mutter-caja .degradado-color-disco{background: rgb(38,58,4);
    background: -moz-linear-gradient(180deg, rgba(38,58,4,0.76) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(38,58,4,0.76) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(180deg, rgba(38,58,4,0.76) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#263a04",endColorstr="#000000",GradientType=1);
}

.reise-reise-caja{
    background: url(../images/fondos-discos/fondo-reise-reise.jpg) no-repeat center;
    background-size: cover;
}
.reise-reise-caja .degradado-color-disco{background: rgb(58,21,4);
    background: -moz-linear-gradient(180deg, rgba(58,21,4,0.76) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(58,21,4,0.76) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(180deg, rgba(58,21,4,0.76) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3a1504",endColorstr="#000000",GradientType=1);
}

.rosenrot-caja{
    background: url(../images/fondos-discos/fondo-rosenrot.jpg) no-repeat center;
    background-size: cover;
}
.rosenrot-caja .degradado-color-disco{background: rgb(4,18,58);
    background: -moz-linear-gradient(180deg, rgba(4,18,58,0.76) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(4,18,58,0.76) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(180deg, rgba(4,18,58,0.76) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#04123a",endColorstr="#000000",GradientType=1);
}

.lifad-caja{
    background: url(../images/fondos-discos/fondo-lifad.jpg) no-repeat center;
    background-size: cover;
}
.lifad-caja .degradado-color-disco{
    background: rgb(58,54,4);
background: -moz-linear-gradient(180deg, rgba(58,54,4,0.7) 0%, rgba(0,0,0,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(58,54,4,0.7) 0%, rgba(0,0,0,1) 100%);
background: linear-gradient(180deg, rgba(58,54,4,0.7) 0%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3a3604",endColorstr="#000000",GradientType=1);
}

.made-germany-caja{
    background: url(../images/fondos-discos/fondo-made-germany.jpg) no-repeat center;
    background-size: cover;
}
.made-germany-caja .degradado-color-disco{
    background: rgb(217,217,217);
background: -moz-linear-gradient(180deg, rgba(217,217,217,0.7) 0%, rgba(0,0,0,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(217,217,217,0.7) 0%, rgba(0,0,0,1) 100%);
background: linear-gradient(180deg, rgba(217,217,217,0.7) 0%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d9d9d9",endColorstr="#000000",GradientType=1);
}

.klavier-caja{
    background: url(../images/fondos-discos/fondo-klavier.jpg) no-repeat center;
    background-size: cover;
}


.klavier-caja .degradado-color-disco{background: rgb(123,117,58);
    background: -moz-linear-gradient(180deg, rgba(123,117,58,0.5270483193277311) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(123,117,58,0.5270483193277311) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(180deg, rgba(123,117,58,0.5270483193277311) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7b753a",endColorstr="#000000",GradientType=1);
}

.paris-caja{
    background: url(../images/fondos-discos/fondo-paris.jpg) no-repeat center;
    background-size: cover;
}
.paris-caja .degradado-color-disco{background: rgb(0,75,152);
    background: -moz-linear-gradient(180deg, rgba(0,75,152,0.7091211484593838) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,75,152,0.7091211484593838) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(180deg, rgba(0,75,152,0.7091211484593838) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#004b98",endColorstr="#000000",GradientType=1);

}

.sin-titulo-caja{
    background: url(../images/fondos-discos/fondo-sin-titulo.jpg) no-repeat center;
    background-size: cover;
}
.sin-titulo-caja .degradado-color-disco{background: rgb(157,157,157);
    background: -moz-linear-gradient(180deg, rgba(157,157,157,0.7091211484593838) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(157,157,157,0.7091211484593838) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(180deg, rgba(157,157,157,0.7091211484593838) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9d9d9d",endColorstr="#000000",GradientType=1);
}



/*************DESCRIPCION DISCO*/

.descripcion-disco{    
    color: #fff;
    font-size: 20px;
}

.descripcion-disco h2{
    font-size: 50px;
    text-shadow: 4px 2px 1px rgba(0, 0, 0, 0.391);
}

.descripcion-disco h4{
    text-shadow: 4px 2px 1px rgba(0, 0, 0, 0.391);
    font-size: 30px;
}



.descripcion-disco .degradado-color-disco .contenedor{
    display: grid;
    grid-auto-rows: minmax(500px, auto);
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    
}


.info-disco-caratula img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.info-disco-caratula, .info-disco-texto, .info-disco-spotify, .info-disco-lista{
    background: rgba(0, 0, 0, 0.3);
}

/******************SECTION VIDEO GIRA*/

.video-gira{
    height: 600px;
    min-height: 200px;
}
.video-gira .contenedor{
    
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.video-gira .video-externo, .video-gira .venta-tickets-video{
    background-color: rgb(0, 0, 0); background-color: #000;
    border: solid 10px #000;   
    
}

.video-gira .video-externo{
    width: 75%;
}

.video-gira .venta-tickets-video{
    width: 25%;
    color: white;
    text-shadow: 1px 1px 1px #000;
    background: url(../images/rammstein-stage-2019.jpg)  no-repeat center;
    display: flex;    
    flex-direction: column;
    justify-content: center;    
    text-align: center;

    
}

.video-gira .venta-tickets-video h3{
    font-size: 2rem;
}

/***********NOTICIAS*/
.noticias .contenedor{
    padding-top: 20px;    
    
}

.titl-noticias{
    display: flex;
    justify-content: space-between;
}



.noticia{
    width: 100%;    
    height: 250px;
    background-color:#DFDFDF;
    
}

.foto-noticia{
    width: 30%;
    height: 100%;
    float: left;
    background-color: #000;
}

.foto-noticia img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.texto-noticia{
    float: left;
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.texto-noticia a{
    color: #ac0000;
}


/************SECTION ULTIMO DISCO*/

.ultimo-disco .contenedor{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-ultimo-disco{
    width: 400px;
    height: 400px;
    background-color: #3d3;
}

.img-ultimo-disco img{
    width: 100%;
    height: 100%;
}
.playlist-spotify{
    width: 600px;
    height: 500px;
}



/************FORMULARIO*/

.formulario{
    background:  url(../images/fondo-formulario.jpg) center   ;
    background-size: cover;
    
}

.formulario .color-formulario{
    width: 100%;
    height: 100%;
    background: rgba(211, 0, 0, 0.672);
    color: #fff
}

.formulario .color-formulario h2{
    text-transform: uppercase;
    font-size: 30px;
    
}

.formulario .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-formulario{
    width: 45%;
}

.contenedor-formulario form{
    display: flex;
    flex-direction: column;
}

.contenedor-formulario form input{
    height: 50px;
    outline: none;
    font-size: 1em;
    color: white;
    padding-left: 10px;
}
.contenedor-formulario form input[type=submit]{
    background-color: #000;
}


.contenedor-formulario form input[type=submit]:hover{
    background-color: rgb(43, 43, 43);
}




/********FOOTER*/
footer{
    background-color: #000;
    color: #fff;
}

footer .contenedor{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.contenido-footer{
    width: 80%;
    display: flex;
    justify-content: center;
}
.logo-footer{
    width: 500px;
    height: 200px;
    object-fit: contain;
    display: flex;
    justify-content: flex-end;
}

.logo-footer img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.separador-footer{
    width: 2px;
    height: 200px;
    background-color: #fff;
}

.lista-nav-footer{
    width: 500px;
    height: 200px;

}

.lista-nav-footer {
    display: flex; 
    align-items: center;
    
}

.lista-nav-footer nav ul li a{
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;  
    font-size: 1.5em;  
}
.lista-nav-footer nav ul li a:hover{
    color: rgb(221, 0, 0);   
}

footer h2 span{
    font-weight: 800;
}